apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.Values.grafana.name}}-data
  namespace: {{.Values.namespace.name}}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
